@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');

body {
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f1eee7;
    font-family: 'Quicksand', sans-serif;
}

.Anchor-unstyled {
    color: inherit;
    text-decoration: inherit;
    margin: 0;
    clear: both;
}

.App-header {
    padding: 10px;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    top: 0;
    position: fixed;
    background: #fff;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    z-index: 1;
}

.App-fixed-header {
    height: 80px;
    box-shadow: 0 0 8px 0 black;
}

.App-logo-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.App-logo {
    width: 90px;
}

.App-title {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Tangerine', cursive;
    color: #751A33;
}

.Auth-header-buttons {
    margin-right: 5%;
    display: flex;
    max-width: 600px;
    width: 100%;
    align-self: center;
    justify-content: flex-end;
    flex-direction: row;
}

.Auth-button {
    position: relative;
	display: inline-block;
    text-align: center;
    margin-left: 10px;
}

.Auth-button button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
	padding: 0;
	width: 150px;
	height: 50px;
    border: 2px solid #ffc125;
	border-radius: 10px;
    background-color: #fff;
	color: #ffc125;
	letter-spacing: 1px;
	font-size: 18px;
	-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
	transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.Auth-button button:hover {
    background-color: #ffc125;
	color: #fff;
}

.Auth-button button:focus {
	outline: none;
}

.Auth-container {
    display: flex; 
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Auth-form-body {
    display: flex;
    flex-flow: column nowrap;
    background: white;
    margin-top: 40px;
    padding: 30px;
}

.Auth-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Auth-form-field {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.Auth-form-submit button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
	width: 150px;
	height: 40px;
    border: 2px solid #ffc125;
	border-radius: 10px;
	background: transparent;
	color: #ffc125;
	letter-spacing: 1px;
	font-size: 18px;
	-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
	transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.Auth-form-submit button:hover {
    background-color: #ffc125;
	color: #fff;
}

.Auth-form-submit button:focus {
    outline: none;
}

.App-label-big {
    margin-top: 40px;
    font-size: 2.1em;
    color: #B3D28D;
}

.App-body {
    display: flex;
    margin-top: 140px;
}

.RecipeThumb-List-Container {
    clear: both;
    float: left;
    width: 100%;
    margin: 0 0 0 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.RecipeThumb-List {
    clear: both;
    float: left;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    vertical-align: middle;
    grid-gap: 30px;
}

.App-recipe-thumb {
    clear: both;
    float: left;
    display: flex;
    min-width: 200px;
    max-width: 400px;
    width: 100%;
    height: auto;
    flex-flow: column nowrap;
    order: 1px solid #dbdbce;
    background: white;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    border-radius: 5px;
    transition: opacity .1s ease-in-out;
    position: relative;
    margin: 15px 0 0 0;
}

.RecipeThumb-Column {
    display: flex;
    flex-flow: column nowrap;
}

.RecipeThumb-image {
    object-fit: cover;
    min-height: 200px;
    max-height: 260px;
    border-radius: 5px 5px 0px 0px;
}

.RecipeThumb-content {
    display: flex;
    flex-flow: column;
    margin: 5px 5px 5px 5px;
}

.RecipeThumb-title {
    font-size: 1.7em;
    color: #91be5b;
}

.RecipeThumb-author {
    font-size: 1.3em;
    margin-top: 5px;
}

.RecipeThumb-List-pagination-label {
    margin: 50px 50px 0 0;
}

.RecipeThumb-List-pagination-label span {
    transition: box-shadow 0.2s;
    transition: color 0.2s;
    text-decoration: none;
    color: #ffc125;
    font-size: 1.7em;
    cursor: pointer;
}

.RecipeThumb-List-pagination-label span:hover {
    box-shadow: inset 0 -2.5rem 0 0 #ffc125;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    color: #fff;
}

.Footer-container {
    clear: both;
    float: left;
    width: 100%;
    height: 50px;
    margin: 0 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.Footer-label {
    font-size: 1.2rem;
}

.Footer-label a {
    text-decoration: none;
}

.NotFoundLabel {
    height: 800px;
    width: 100%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Recipe-container {
    clear: both;
    float: left;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    vertical-align: middle;
    grid-gap: 10px;
}

.Recipe-comments {
    font-size: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Recipe-body {
    margin-top: 40px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: white;
}

.Recipe-image {
    min-width: 120px;
    min-height: 120px;
}

.Recipe-image img {
    object-fit: cover;
    width: 100%;
}

.Recipe-image button {
    z-index: 1;
    position: absolute;
    bottom: 0;
}

.Recipe-content {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.Recipe-title {
    font-size: 2.1em;
    color: #B3D28D;
    margin: 10px 10px 0px 0px;
}

.Recipe-title-thumb {
    display: flex;
    flex-flow: column nowrap;
}

.Recipe-title-thumb span {
    font-size: 0.9em;
    color: grey;
}

.Recipe-time-to-prepare {
    height: 20px;
    width: 20px;
}

.Recipe-author-small {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.Recipe-description-short p {
    margin-right: 20px;
}

.Recipe-description p {
    margin-right: 20px;
    white-space: pre-wrap;
}

.Recipe-break {
    height: 20px;
    width: 100%;
}

.Recipe-label {
    font-size: 1.2rem;
}

.Recipe-user-space {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Recipe-management-buttons {
    margin-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    position: fixed;
}

.RecipeIngredient-list {
    padding: 0;
    list-style-type: none;
}

.User-image-small {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.User-image-big {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.Form-edit input {
    margin-right: 5%;
    font-family: 'Quicksand', sans-serif;
}

.Input-number {
    width: 30px;
    font-size: 1em;
}

span .Input-number {
    width: 30px;
    font-size: 1em;
    margin: 0;
}

.Input-textarea {
    width: 90%;
    min-height: 100px;
    max-width: 600px;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
}
