@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');

body {
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f1eee7;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
    margin: 0;
    clear: both;
}

.Anchor-unstyled {
    color: inherit;
    text-decoration: inherit;
    margin: 0;
    clear: both;
}

.App-header {
    padding: 10px;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    top: 0;
    position: fixed;
    background: #fff;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    z-index: 1;
}

.App-fixed-header {
    height: 80px;
    box-shadow: 0 0 8px 0 black;
}

.App-logo-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.App-logo {
    width: 90px;
}

.App-title {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Tangerine', cursive;
    color: #751A33;
}

.Auth-header-buttons {
    margin-right: 5%;
    display: flex;
    max-width: 600px;
    width: 100%;
    align-self: center;
    justify-content: flex-end;
    flex-direction: row;
}

.Auth-button {
    position: relative;
	display: inline-block;
    text-align: center;
    margin-left: 10px;
}

.Auth-button button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
	padding: 0;
	width: 150px;
	height: 50px;
    border: 2px solid #ffc125;
	border-radius: 10px;
    background-color: #fff;
	color: #ffc125;
	letter-spacing: 1px;
	font-size: 18px;
	-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
	transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.Auth-button button:hover {
    background-color: #ffc125;
	color: #fff;
}

.Auth-button button:focus {
	outline: none;
}

.Auth-button-smol {
    position: relative;
	display: inline-block;
    text-align: center;
}

.Auth-button-smol button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
	padding: 0;
	width: 100px;
	height: 35px;
    border: 2px solid #ffc125;
	border-radius: 10px;
    background-color: #fff;
	color: #ffc125;
	letter-spacing: 1px;
	font-size: 18px;
	-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
	transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.Auth-button-smol button:hover {
    background-color: #ffc125;
	color: #fff;
}

.Auth-button-smol button:focus {
	outline: none;
}

.Auth-button-wide {
    position: relative;
	display: inline-block;
    text-align: center;
}

.Auth-button-wide button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    padding: 0;
    width: 70%;
    white-space: pre-wrap;
	height: 35px;
    border: 2px solid #ffc125;
	border-radius: 10px;
    background-color: #fff;
	color: #ffc125;
	letter-spacing: 1px;
	font-size: 18px;
	-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
	transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.Auth-button-wide button:hover {
    background-color: #ffc125;
	color: #fff;
}

.Auth-button-wide button:focus {
	outline: none;
}
.Auth-container {
    display: flex; 
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Auth-form-body {
    display: flex;
    flex-flow: column nowrap;
    background: white;
    margin-top: 40px;
    padding: 30px;
}

.Auth-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Auth-form-field {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.Auth-form-submit {
    margin-top: 10px;
}

.Auth-form-submit button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
	width: 150px;
	height: 40px;
    border: 2px solid #ffc125;
	border-radius: 10px;
	background: transparent;
	color: #ffc125;
	letter-spacing: 1px;
	font-size: 18px;
	-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
	transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.Auth-form-submit button:hover {
    background-color: #ffc125;
	color: #fff;
}

.Auth-form-submit button:focus {
    outline: none;
}

.App-label-big {
    margin-top: 40px;
    font-size: 2.1em;
    color: #B3D28D;
}

.App-body {
    display: flex;
    margin-top: 140px;
}

.RecipeThumb-List-Container {
    clear: both;
    float: left;
    width: 100%;
    margin: 0 0 0 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.RecipeThumb-List {
    clear: both;
    float: left;
    max-width: 800px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    vertical-align: middle;
    grid-gap: 30px;
}

.App-recipe-thumb {
    clear: both;
    float: left;
    display: flex;
    min-width: 200px;
    max-width: 400px;
    width: 100%;
    height: auto;
    flex-flow: column nowrap;
    order: 1px solid #dbdbce;
    background: white;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    border-radius: 5px;
    transition: opacity .1s ease-in-out;
    position: relative;
    margin: 15px 0 0 0;
}

.RecipeThumb-Column {
    display: flex;
    flex-flow: column nowrap;
}

.RecipeThumb-image {
    object-fit: cover;
    min-height: 200px;
    max-height: 260px;
    border-radius: 5px 5px 0px 0px;
}

.RecipeThumb-content {
    display: flex;
    flex-flow: column;
    margin: 5px 5px 5px 5px;
}

.RecipeThumb-title {
    font-size: 1.7em;
    color: #91be5b;
}

.RecipeThumb-author {
    font-size: 1.3em;
    margin-top: 5px;
}

.RecipeThumb-List-pagination-label {
    margin: 50px 50px 0 0;
}

.RecipeThumb-List-pagination-label span {
    transition: box-shadow 0.2s;
    transition: color 0.2s;
    text-decoration: none;
    color: #ffc125;
    font-size: 1.7em;
    cursor: pointer;
}

.RecipeThumb-List-pagination-label span:hover {
    box-shadow: inset 0 -2.5rem 0 0 #ffc125;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    color: #fff;
}

.Footer-container {
    clear: both;
    float: left;
    width: 100%;
    height: 50px;
    margin: 0 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.Footer-label {
    font-size: 1.2rem;
}

.Footer-label a {
    text-decoration: none;
}

.NotFoundLabel {
    height: 800px;
    width: 100%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Recipe-container {
    clear: both;
    float: left;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    vertical-align: middle;
    grid-gap: 10px;
}

.Recipe-comments {
    font-size: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Recipe-body {
    margin-top: 40px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: white;
}

.Recipe-image {
    min-width: 120px;
    min-height: 120px;
}

.Recipe-image img {
    object-fit: cover;
    width: 100%;
}

.Recipe-image button {
    z-index: 1;
    position: absolute;
    bottom: 0;
}

.Recipe-content {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.Recipe-title {
    font-size: 2.1em;
    color: #B3D28D;
    margin: 10px 10px 0px 0px;
}

.Recipe-title-thumb {
    display: flex;
    flex-flow: column nowrap;
}

.Recipe-title-thumb span {
    font-size: 0.9em;
    color: grey;
}

.Recipe-time-to-prepare {
    height: 20px;
    width: 20px;
}

.Recipe-author-small {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.Recipe-author-small span {
    margin-left: 5px;
}

.Recipe-description-short p {
    margin-right: 20px;
}

.Recipe-description p {
    margin-right: 20px;
    white-space: pre-wrap;
}

.Recipe-break {
    height: 20px;
    width: 100%;
}

.Recipe-label {
    font-size: 1.2rem;
}

.Recipe-user-space {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Recipe-management-content {
    margin-top: 40px;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.Recipe-management-buttons {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
}

.RecipeIngredient-list {
    padding: 0;
    list-style-type: none;
}

.RecipeIngredient-edit-item {
    display: flex;
    flex-flow: row nowrap;
}

.RecipeIngredient-edit-item button {
    border: none;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    cursor: pointer;
}

.User-image-small {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 25%;
}

.User-image-big {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 40%;
}

.Form-edit input {
    font-size: 1em;
    margin-right: 5%;
    font-family: 'Quicksand', sans-serif;
}

.Input-number {
    width: 30px;
}

.Input-wide {
    width: 50px;
}

.Input-wider {
    width: 110px;
}

span .Input-number {
    width: 30px;
    font-size: 1em;
    margin: 0;
}

.Input-textarea {
    width: 90%;
    min-height: 100px;
    max-width: 600px;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
}

.RecipeIngredient-list-form input {
    margin-right: 0;
}

.Button-big {
    position: relative;
	display: inline-block;
    text-align: center;
    margin-top: 40px;
}

.Button-big button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
	padding: 0;
	width: 300px;
	height: 100px;
    border: 2px solid #91be5b;
	border-radius: 10px;
    background: #fff;
	color: #91be5b;
	letter-spacing: 1px;
	font-size: 2.1em;
	-webkit-transition: background 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.Button-big button:hover {
    background: linear-gradient(-45deg, #ffc125, #91be5b );
    color: #fff;
    background-size: 300% 300%;
    -webkit-animation: gradient 10s ease infinite;
	        animation: gradient 10s ease infinite;
}

@keyframes gradient { 
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }

.Button-big button:focus {
	outline: none;
}

.Input-invalid {
    box-shadow: 0 0 3px #CC0000;
}

.Form-message-invalid {
    font-size: 1em;
    color: #CC0000;
}

.hidden {
    display: none;
}

.text-btn {
    border: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
  
/* On mouse-over */
.text-btn:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}

.modal {
    position: fixed;
    padding: 24px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
    z-index: 2;
    left: 50%;
    top: 50%;
}

.meter { 
	height: 20px;
	position: relative;
	background: rgb(99, 70, 105);
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
    padding: 10px;
    width: 80%;
    align-self: center;
	box-shadow: inset 0 -1px 1px rgba(163, 134, 3, 0.3);
}

.meter > span {
    display: block;
    height: 100%;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(250, 205, 56);
    background-image: linear-gradient(
        center bottom,
        rgb(43,194,83) 37%,
        rgb(84,240,84) 69%
    );
    box-shadow: 
        inset 0 2px 9px  rgba(253, 251, 92, 0.3),
        inset 0 -2px 6px rgba(192, 134, 8, 0.4);
    position: relative;
    overflow: hidden;
}

.meter > span:after {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
      -45deg, 
      rgba(255, 255, 255, .2) 25%, 
      transparent 25%, 
      transparent 50%, 
      rgba(255, 255, 255, .2) 50%, 
      rgba(255, 255, 255, .2) 75%, 
      transparent 75%, 
      transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
  }


  input[type=checkbox] + label {
    font-style: italic;
  } 
  input[type=checkbox]:checked + label {
    color: rgb(139, 139, 139);
    font-style: line-through;
} 

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav ul li {
    display: block;
    float: left;
    margin-left: 20px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav ul li ul {
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul, /* this is the line we add */
nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
    clear: both;
    width: 100%;
}

.Recipe-comments {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    font-size: 1.2em;
}

.Recipe-Comments-Container {
    margin-top: 40px;
    min-width: 250px;
}

.Recipe-Comment {
    background: white;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    border-radius: 5px;
    transition: opacity .1s ease-in-out;
}

.Recipe-Comment-New {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.Recipe-Comment-New textarea {
    resize: none;
    align-self: center;
}

.Recipe-Comment-New-button {
    width: 100%;
}

.Recipe-Comment-New button {
    width: 100%;
}